---
import Layout from '../layouts/Layout.astro'
import BannerMain from '../components/BannerMain.astro'
import TecnologiesSection from '../components/TecnologiesSection.astro'
import ContactSection from '../components/ContactSection.astro'
import EducationSection from '../components/EducationSection.astro'
import ProjectSection from '../components/ProjectSection.astro'
import ExperienceSection from '../components/ExperienceSection.astro'
---

<Layout title='Portafolio | Elian'>
  <main>
    <BannerMain />
    <div class='px-4 md:px-40'>
      <ExperienceSection />
      <ProjectSection />
      <TecnologiesSection />
      <EducationSection />
      <ContactSection />
    </div>
  </main>
</Layout>

<style is:inline>
  #paragraph {
    font-size: 1.2rem;
    text-shadow:
      2px 2px 2px rgba(255, 255, 255, 0.5),
      4px 4px 4px rgba(255, 255, 255, 0.5);
  }
</style>
